{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/style_nuestro.css' %}">
<div>
    <nav class="navbar navbar-expand-lg  color_menu">
        <div class="container">
            <img id="imagen" class="logo" src="{% static 'pasteleria/img/logo_cafe.png' %}">
            <a class="navbar-brand color_letar" href="{% url 'pasteleria:index' %}">Cake House</a>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:torta' %}">Producto<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link color_letar" href="#">Registrarse</a>
                    </li>


                    <a class="nav-link color_letar" href="{% url 'pasteleria:frm_iniciar_sesion' %}">Iniciar sesion</a>
                    </li>


                    </li>
                </ul>
            </div>
    </nav>
</div>
<div class="container col-sm-7 mt-2 frm_comuna">
    <h1 class="centrar">Editar Comuna</h1>
<form action="{% url 'pasteleria:editador_comuna' %}" method="post">
    {% csrf_token %}
    <div class="row mover_I_25">
        <h5 class="col-sm-2 mt-1">comuna:</h5>
    <input type="text" name="id_editor" value="{{comuna.id}}" hidden>
    <br>
    <input type="text" id="nombre_ce" class="col-sm-4 form-control" name="nombre_editor" required value="{{comuna.nombre_c}}" >
    <div id="error_c" style="color: red; visibility: hidden;" class="error">*Debe ingresar comuna</div>
    </div>

    <input type="submit" id="Guardar_ec" class="btn btn-primary boton_com"  value="   editar   ">
</form>
</div><div class="boton_com row" style="margin-left: 23%;">
<div class="  btn btn-primary col-sm-4">
<a class=" color_letra" href="{% url 'pasteleria:index' %}">volver a pagina inicial</a>
</div>
<div class=" ml-1 btn btn-primary col-sm-4">
<a class=" color_letra" href="{% url 'pasteleria:frm_buscar_comuna' %}">volver al buscador</a>
</div>
</div>
<script type="text/javascript" src="{% static 'pasteleria/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pasteleria/js/jquery-3.6.0.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Guardar_ec").click(function () {
            var nombre = $("#nombre_ce").val();
            if (nombre == "") {
                $("#error_c").css("visibility", "visible")
                return false;
            }
            else {
                return true;
            }

        });
        });

</script>