{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/style_nuestro.css' %}">
<div>
    <nav class="navbar navbar-expand-lg  color_menu">
        <div class="container">
            <img id="imagen" class="logo" src="{% static 'pasteleria/img/logo_cafe.png' %}">
            <a class="navbar-brand color_letar" href="{% url 'pasteleria:index' %}">Cake House</a>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:torta' %}">Producto<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link color_letar" href="#">Registrarse</a>
                    </li>


                    <a class="nav-link color_letar" href="{% url 'pasteleria:frm_iniciar_sesion' %}">Iniciar sesion</a>
                    </li>


                    </li>
                </ul>
            </div>
    </nav>
</div>
<div class="container col-sm-7 mt-2 frm_comuna">  
    <h1 class="centrar">Eliminar Producto</h1>
<form action="{% url 'pasteleria:eliminador_producto' %}" method="post">
    {% csrf_token %}
    <div class="row mover_I_25">
    <input type="text" name="id_eliminado" value="{{eliminador.id}}" hidden>
    <h5 class="col-sm-2 mt-1">Producto:</h5>
    <input type="text" name="nombre_e" class="col-sm-4 form-control" value="{{eliminador.nombre_pro}}" disabled>
    </div>
    <div class="row mover_I_25">
        <h5 class="col-sm-2 mt-1">Precio:</h5>
    <input type="text" name="nombre_e"   class="col-sm-4 form-control" value="{{eliminador.precio_pro}}" disabled>
    </div>
    <input type="submit"  class="btn btn-primary boton_com" value="eliminar">
</form>
</div>