{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/style_nuestro.css' %}">
<div>
    <nav class="navbar navbar-expand-lg  color_menu">
        <div class="container">
            <img id="imagen" class="logo" src="{% static 'pasteleria/img/logo_cafe.png' %}">
            <a class="navbar-brand color_letar" href="{% url 'pasteleria:index' %}">Cake House</a>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:torta' %}">Producto<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link color_letar" href="#">Registrarse</a>
                    </li>


                    <a class="nav-link color_letar" href="{% url 'pasteleria:frm_iniciar_sesion' %}">Iniciar sesion</a>
                    </li>


                    </li>
                </ul>
            </div>
    </nav>
</div>
<div class="container col-sm-7 mt-2 frm_comuna">
    <h1 class="centrar">Ingresar Producto</h1>
<form action="{% url 'pasteleria:registrar_producto' %}" method="post">
    {% csrf_token %}
    <div class="row mover_I_25">
        <h5 class="col-sm-2 mt-1">Producto:</h5>
    <input type="text" id="producto" name="nombre_producto"  class="col-sm-4 form-control" placeholder="torta de chocolate"  required >
    <div id="error_c" style="color: red; visibility: hidden;" class="error">*Debe ingresar Producto</div>
    </div>
    <div class="row mover_I_25">
        <h5 class="col-sm-2 mt-1">Precio:</h5>
    <input type="number" id="precio" name="precio_producto"  class="col-sm-4 form-control" placeholder="$7000" required>
    <div id="error_p" style="color: red; visibility: hidden;" class="error">*Debe ingresar precio</div>
    </div>
    <input type="submit" id="Guardar_p"  class="btn btn-primary boton_com"  value="Guardar">
</form>
</div>
<script type="text/javascript" src="{% static 'pasteleria/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pasteleria/js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Guardar_p").click(function () {
            var producto = $("#producto").val();
            var precio = $("#precio").val();
            
            if (precio == "") {
                $("#error_p").css("visibility", "visible")
                return false;
            }

            else {
                $("#error_p").css("visibility", "hidden")
              
            }
            if (precio <= 0) {
                $("#error_p").css("visibility", "visible")
                return false;
            }
            else {
                $("#error_p").css("visibility", "hidden")
            }
            if (producto == "") {
                $("#error_c").css("visibility", "visible")
                return false;
                
            }
            else {
             
                $("#error_c").css("visibility", "hidden")
                return true;
               
            }
          

        });
        });

</script>