{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/style_nuestro.css' %}">
<div>
    <nav class="navbar navbar-expand-lg  color_menu">
        <div class="container">
            <img id="imagen" class="logo" src="{% static 'pasteleria/img/logo_cafe.png' %}">
            <a class="navbar-brand color_letar" href="{% url 'pasteleria:index' %}">Cake House</a>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:torta' %}">Producto<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link color_letar" href="#">Registrarse</a>
                    </li>


                    <a class="nav-link color_letar" href="{% url 'pasteleria:frm_iniciar_sesion' %}">Iniciar sesion</a>
                    </li>


                    </li>
                </ul>
            </div>
    </nav>
</div>
<div class="container col-sm-7 mt-2 frm_comuna" style="margin-top: 10%;"> 
    <h1 class="color_letar centrar"> torta de Maracuya</h1><div style="margin-right:30%;">
    </div>
    <div class="row">
    <img id="imagen" class="col-sm-11" style="margin-left: 5%; margin-top: 10%;" src="{% static 'pasteleria/img/torta_maracuya.jpg' %}">
    </div>
    <div  class="container-fluid border-primary col-sm-6">
        <h1 class="color_letar">Descripción</h1> <br>
        <p class="color_letar">La torta de maracuyá es un rico postre clásico de la gastronomía Peruana. Es el complemento perfecto a la hora
          te tomar una taza de café o para servirle a la familia o amigos</p>
        <br>
        <h4 class="color_letar">Precio: $12.990</h4>
      </div>
    
      <form action="{% url 'pasteleria:index' %}" method="post">
        <h2 class="color_letar" style="margin-left: 23%;margin-top: 10%;">Registre sus datos</h2>
        {% csrf_token %}
        <div class="row mover_I_25">
            <h5 class="col-sm-3 mt-1">Usario:</h5>
        <input type="text" id="nombre_U" name="nombre_user"  class="col-sm-4 form-control"  required >
        <div id="error_u" style="color: red; visibility: hidden;" class="error">*Debe ingresar nombre de usuario</div>
        </div>
        <div class="row mover_I_25">
            <h5 class="col-sm-3 ">Contraseña:</h5>
        <input type="password" id="contra_u" name="contrasena_user"  class="col-sm-4 form-control"  required>
        <div id="error_con" style="color: red; visibility: hidden;" class="error">*Debe ingresar contraseña</div>
        </div>
        <input type="submit" id="Guardar_u"  class="btn btn-primary boton_com"  value="Guardar">
    </form>
    
    
      
</div>


<script type="text/javascript" src="{% static 'pasteleria/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pasteleria/js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Guardar_u").click(function () {
            var nombre_u = $("#nombre_U").val();
            var contra = $("#contra_u").val();
            
            if (contra == "") {
                $("#error_con").css("visibility", "visible")
                return false;
            }

            else {
                $("#error_con").css("visibility", "hidden")
              
            }
            if (nombre_u == "") {
                $("#error_u").css("visibility", "visible")
                return false;
                
            }
            else {
             
                $("#error_u").css("visibility", "hidden")
                return true;
               
            }
          

        });
        });

</script>