{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pasteleria/css/style_nuestro.css' %}">
<div>
    <nav class="navbar navbar-expand-lg  color_menu">
        <div class="container">
            <img id="imagen" class="logo" src="{% static 'pasteleria/img/logo_cafe.png' %}">
            <a class="navbar-brand color_letar" href="{% url 'pasteleria:index' %}">Cake House</a>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:index' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color_letar" href="{% url 'pasteleria:torta' %}">Producto<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link color_letar" href="#">Registrarse</a>
                    </li>


                    <a class="nav-link color_letar" href="{% url 'pasteleria:frm_iniciar_sesion' %}">Iniciar sesion</a>
                    </li>


                    </li>
                </ul>
            </div>
    </nav>
</div>
<div class="container col-sm-7 mt-2 frm_comuna" style="margin-top: 10%;"> 
    <h1 class="color_letar centrar"> torta de Maracuya</h1><div style="margin-right:30%;">
    <h5 class="color_letar centrar" >La torta de maracuyá es un rico postre clásico de la gastronomía Peruana. Es el complemento perfecto a la hora te tomar una taza de café o para servirle a la familia o amigos.
    </h5></div>
    <div class="row">
    <img id="imagen" class="col-sm-11" style="margin-left: 5%; margin-top: 10%;" src="{% static 'pasteleria/img/torta_maracuya.jpg' %}">
    </div>
    <div class="container" style="margin-left: 25%; margin-top: 5%;">
        <h4 class="color_letar">Detalle del producto</h4>
    </div>
    <div class="container" style=" margin-top: 5%;">
        <h5 class="color_letar"> 
            El producto está hecho en base de pulpa de maracuyá, harina de trigo, polvo de hornear, huevos, azúcar y escencia de vainilla.
          </h5>

    </div>
    <div style="margin-top: 5%; margin-left: 25%;" class="col-sm-5">
        <h5 class="color_letar">
          <br>
          <br> El precio de este producto es de $12.990
        </h5>
    </div>
        <div class="  btn btn-primary" style="margin-left: 40%; margin-top: 10% ; margin-bottom: 10%;"> 
        <a class=" color_letra" href="{% url 'pasteleria:pedido' %}">      Pedir      </a>
        </div>
</div>
